{% extends "base.html" %}
{% block title %}السجل{% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center mt-4 mb-4">Files</h1>

    <ul class="list-group">
        {% for file in user.files %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ file.file_name }}</span>
            <a href="{{ url_for('views.download', filename=file.filename) }}" class="btn btn-primary">Download</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
